* {
  margin: auto;
}

.menu-container {
	position: relative;
}

.nav {
	width: 30vw;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #888;
	position: absolute;
	top: 0;
	z-index: 999;
	background-color: #fff;
	left: -35vw;
	-webkit-transition: left 0.3s ease-in;
	-o-transition: left 0.3s ease-in;
	transition: left 0.3s ease-in;
}


.nav {
  width: 50vw;
  left: -55vw;
}


.close {
	display: flex;
	justify-content: flex-end;
	padding: 0 15px 0 0;
	font-size: 2rem;
	font-weight: bold;
	color: black;
	cursor: pointer;
}

.nav.show {
	left: 0;
}

.menu-button {
	position: relative;
	z-index: 99;
	font-size: 30px;
	cursor: pointer;
  padding: 10px 8px;
  color: black;
}

.menu-items {
	padding: 0;
	margin: 0;
}

.menu-list {
	list-style: none;
}

.menu-link {
	text-decoration: none;
	color: black;
	display: flex;
	padding: 16px 10px;
	font-size: 18px;
	border-bottom: 1px solid black;
}


.App {
  font-family: "Source Code Pro", monospace;
}


.main-container {
  width: 90%;
  margin-left: 5%;
}

.devtechno {
  font-size: 46px;
  -webkit-text-fill-color: 
  transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    text-shadow: 
              5px 6px maroon,
              10px 10px #000000;
}

a:link {
  color: black;
  cursor: pointer;
  text-decoration: none;
  transform: perspective(3px) translateZ(0);
}

a:visited {
  color: black;
}

a:hover {
  color: maroon;
  box-shadow: 2px 6px 6px black;
}

.wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.post-container {
  color: black;
  padding: 10px;
  margin: 50px 0px 5px 0px;
}

.title {
  font-weight: bolder;
  color: maroon;
  padding-bottom: 0.5em;
  text-decoration: none;
  margin-top: 5vh;
}

.content-container {
  display: grid;
  align-items: center;
  justify-items: center;
  column-gap: 20px;
  box-shadow: 20px 10px black;
  border: 1px solid black;
}

article {
  width: 90%;
  padding: 20px;
}

.featuredImage {
  width: 90%;
  padding: 5px;
}

@media only screen and (min-width: 670px) {

  .content-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
  }

  .nav {
    width: 30vw;
    left: -55vw;
  }

}